/* Overlay style */
.overlay-pri {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ffcc00;
	z-index:100;
	overflow:auto;
}

/* Overlay closing cross */
.overlay-pri .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 0px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
	transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;
}
.overlay-pri .overlay-close:hover{transform:rotate(180deg);}
/* Menu style */
.overlay-pri section {
	text-align: center;
	position: relative;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc section {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc section #pricing {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open section #pricing {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close section #pricing {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

